@model Lab04_ED_2022.Models.ModeloPaciente

@{
    ViewData["Title"] = "Create";
}

<h1>Ingresar Nuevo Paciente</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <b><label asp-for="Nombres" class="control-label"></label></b>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b><label asp-for="Apellidos" class="control-label"></label></b>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">

                <b>Género</b> <br />
                @*Hombre<input type = "radio" name="género" value="false"/>
            Mujer<input type = "radio" name = "género" value="true"/>*@
                Hombre @Html.RadioButton("Género", false)
                <br />
                Mujer @Html.RadioButton("Género", true)

            </div>
            <div class="form-group">
                <b>Fecha de Nacimiento</b>
                <input asp-for="FechaDeNacimiento" class="form-control" />
                <span asp-validation-for="FechaDeNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>Especialidad</b>
                <br />
                @*  Cardiología             <input type = "radio" name = "Especializacion" value="1"/>
            Neumología              <input type = "radio" name = "Especializacion" value="2"/>
            TraumatologíaExpuesta   <input type = "radio" name = "Especializacion" value="3"/>
            Ginecología             <input type = "radio" name = "Especializacion" value="4"/>
            TraumatologíaInterna    <input type = "radio" name = "Especializacion" value="5"/>
                *@

                -Cardiología @Html.RadioButton("Especializacion", 1)
                <br />
                -Neumología  @Html.RadioButton("Especializacion", 2)
                <br />
                -Ginecología  @Html.RadioButton("Especializacion", 4)
                <br />
                -Traumatología Interna  @Html.RadioButton("Especializacion", 5)
                <br />
                -Traumatología Expuesta  @Html.RadioButton("Especializacion", 3)
            </div>
            <div class="form-group">
                <b>Forma de Ingreso</b>
                <br />
                @*Ambulancia<input type = "radio" name="Ingreso" value="false"/>
            Asistido<input type = "radio" name = "Ingreso" value="true"/>*@
                Ambulancia @Html.RadioButton("Ingreso", false)
                <br />
                Asistido @Html.RadioButton("Ingreso", true)
            </div>
            <div class="form-group">
                <b>Hora de Ingreso</b>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
